*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body{
    background-color: white;
    padding: 0 80px;
    font-family: 'Roboto', sans-serif;
}
/* /body */


/* header */
header{
    /* background-color: #e579e6; */
    /* height: 100px; questa altezza verrà eliminata successivamente */
    margin-bottom: 30px;
} 

#logo{
    display: inline-block;
    width: 15%;
    padding-right: 20px;
    border-right: 1px solid #e5e5e5;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

a{
    color: #9a9a9a;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 16px;
}




.nav-menu{
    margin: 30px 0;
    font-size: 20px;
}




/* /header */



/* main */
.container::after{
    content: '';
    display: table;
    clear: both;
    
}



/* main{
     border: 2px solid black; questo border verrà eliminato successivamente    
} 
*/


.jumbotron{
    background-image: url(../img/banner.jpg);
    filter: brightness(80%);
    height: 600px;
    vertical-align: middle;
    border-radius: 15px;
}

#text-jumbotron h2,p{
    color: #ffffff;
}

#text-jumbotron p{
    font-size: 14px;
}
#text-jumbotron h2{
    font-size: 30px;
}




#text-jumbotron{
    padding: 415px 600px 50px 50px;
}




.jumbotron{
    /* background-color: #e1d67a;
     height: 400px; questa altezza verrà eliminata successivamente */
    margin-bottom: 30px;
}

.clearfix{
    background-color: #0087fd;
    height: 600px; /*questa altezza verrà eliminata successivamente */
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}



.leadership{
    height: 80px; /* questa altezza verrà eliminata successivamente */
    background-color: #abcfe7;
    margin-bottom: 30px;
}

.link{
    float: left;
    height: 470px; /* questa altezza verrà eliminata successivamente */
    width: 15%;
    background-color: #abcfe7;
    
}

/* esempio con margini in %
.main-contents{
    float: left;
    height: 470px;  questa altezza verrà eliminata successivamente 
    width: 68%;
    margin: 0px 1%;
    background-color:  #abcfe7;
} */

/* esempio con il calc */
.main-contents{
    float: left;
    height: 470px; /* questa altezza verrà eliminata successivamente */
    width: calc(70% - 30px);
    margin: 0px 15px;
    background-color:  #abcfe7;
}
/* fine esempio con il calc */


/* /main */



/* footer */
footer{
    background-color: #8801fe;
    height: 60px; /*questa altezza verrà eliminata successivamente */
    margin-top: 10px;
}

/* /footer */