*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    padding: 20px;
}

















/* debot */
.debot {
    background-color: red;
}

.debot header{
    background-color: aqua;
    height: 100px;
}